.sidebar {
    height: 60px;
    background-color: #159957; 
    background-image: linear-gradient(120deg, #155799, #159957);
    color: rgb(0, 0, 0);
    padding: 15px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    text-align: right;
    overflow-y: auto; /* Enables scrolling if content overflows */
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  }
  
  .sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
  }

  .sidebar a {
    color: #ffffff;
    text-decoration: none;
  }

  @media (max-width: 800px) { /* Adjust width as needed */
    .sidebar {
      display: none;
    }
  }