<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/images/custom.css' | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <div class="sidebar">
        <h2>Sections</h2>
        <ul>
            <li><a href="{{ '/#introduction' | relative_url }}">Introduction</a></li>
            <li><a href="{{ '/#exploration' | relative_url }}">Exploration</a></li>
            <li><a href="{{ '/#explanation' | relative_url }}">Explanation</a></li>
            <li><a href="{{ '/#experimentation' | relative_url }}">Experimentation</a></li>
            <li><a href="{{ '/#conclusion' | relative_url }}">Conclusion</a></li>
        </ul>
        <h2>Research Question</h2>
        <p> Chips are often modeled with a graph neural network (GNN) to represent the wires and nodes - is this a suitable approach? What are the strengths and limitations of this method, and can it be optimized? Are there alternative architectures that can improve speed or performance?
        </p>
        <h2>Useful Links</h2>
        <ul>
            <li><a href="https://en.wikipedia.org/wiki/Netlist">Netlist</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Graph_neural_network">GNN</a></li>
            <li><a href="https://arxiv.org/abs/2404.00477">DEHNN</a></li>
        </ul>
    </div>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>